* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #e4e4e4;
}

.calculator {
    max-width: 300px;
    max-height: 400px;
    margin: 5% auto;
    padding: 6% 3% 3% 3%;
    border-radius: 8px;

    background-color: rgb(33, 32, 32);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

}

/*Into calculator*/

.calculator .display {
    height: 33%;
    padding: 2%;
    border-radius: 5px;
    margin-bottom: 10px;

    color: #e4e4e4;
    background-color: rgb(19, 18, 18);

    text-align: end;
}

.calculator .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 8px;

}

.buttons .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    width: 100%;
    align-items: stretch;
}

button {
    width: 100%;
    height: 35px;
    border-radius: 5px;
}

/* Buttons */


.row button.number {
    background-color: #ebe5e5;


}

.row button.operator {
    background-color: rgb(99, 99, 152);

}

.row button.comma {
    background-color: rgb(99, 99, 152);

}

.fifth.row .equals {
    background-color: rgb(203, 68, 5);
}


/*FOOTER*/
footer {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}